.payment {
  display: flex;
  background-color: #f9f9f9;
  color: #333;
  height: 100vh;
  padding: 20px;
  gap: 20px;
}

.payment-details,
.payment-form {
  flex: 1;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.bg-secondary{
  --tw-bg-opacity: 1;
  background-color: rgb(19 194 150 / var(--tw-bg-opacity));
}

.payment-details {
  max-width: 500px;
}

.payment-form {
  max-width: 400px;
}

.company-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.monthly-plan-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.free-trial,
.subline,
.invoice-item,
.account-initiation-fee,
.subtotal,
.promotion-code,
.tax,
.total-due-today {
  margin-bottom: 15px;
}

.promotion-code button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.promotion-code input {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
}

.tax-notice {
  color: #888;
}

.payment-form h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.payment-form input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.payment-form button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}




.payment {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  font-family: Arial, sans-serif;
  background-color: #f9fafb;
}

.payment-preview {
  width: 45%;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.amount {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #32325d;
}

.plan-details {
  margin-top: 2rem;
}

.plan-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.75rem;
  font-size: 1rem;
}

.promotion-code a {
  color: #0066c0;
  font-size: 0.9rem;
  text-decoration: none;
}

.promotion-code a:hover {
  text-decoration: underline;
}

.total-due {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.payment-section {
  width: 45%;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.checkout-form {
  display: flex;
  flex-direction: column;
}

.submit-button {
  margin-top: 1.5rem;
  padding: 0.75rem;
  font-size: 1rem;
  color: #fff;
  background-color: #635bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
}


